<app-toolbar></app-toolbar>
<mat-sidenav-container class="h-min-100vh bg-white">
    <mat-sidenav class="pt-5 shadow" #sidenav [opened]="sideNavService?.open" [mode]="'side'">
      <mat-nav-list>
        <div *ngFor="let sideNavitem of sideNavItems">
          <div *ngFor="let item of sideNavitem.items">
            <button type="button" mat-button full routerLink="{{item.link}}" [routerLinkActive]="['sidebar-active']">
                <!-- <span class="name">{{item?.name}}</span> -->
                <img src="../assets/images/icons/{{item.icon}}" height="30" width="30"  alt="">
            </button>
        </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <router-outlet>

        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
