<div class="container-fluid">
    <div class="row pt-5"  style=" min-height: 100vh !important; max-height: 100vh;">
        <div class="col-3 bg-lightGray p-4 pt-5" >
            <div class="d-flex mb-5">
                <input type="text" class="form-control form-control-sm bg-gray border-0" [(ngModel)]="searchField"  (input)="filterContacts(searchField)" placeholder="Search">
                <button class="btn btn-primary" style="margin-left: 5px;" data-bs-toggle="modal" data-bs-target="#addContactModal" >Add</button>
            </div>
            <h3 class="text-gray">CONTACTS <span class="fw-bold text-darker-gray">({{contacts.length}})</span></h3>
            <div  style="max-height:400px; overflow-y: scroll;">
                <div class="contacts-list list-group" *ngFor="let contact of contacts">
                    <a (click)="viewContact(contact)" id="contact.cellNumber" class="list-group-item list-group-item-action pt-3 mb-1 bg-transparent border-0 cursor-pointer">
                        <div class="d-flex align-items-center ">
                            <div class="bg-blue h5 text-white fw-normal d-flex align-items-center justify-content-center rounded-circle p-4" style="background-color: #54a4e1; width: 30px; height: 30px;">
                                {{contact.firstName[0]}}{{contact.lastName[0]}}
                            </div>
                            <div class="ms-2 me-auto">
                                <div class="fw-bold text-darker-gray h6 mb-0">{{contact.firstName}} {{contact.lastName}}</div>
                                <span class="fs-7">{{contact.cellNumber}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-9 p-5">
            <div class="display-contact p-4 pt-0" *ngIf="selectedContact">
                <div class="card p-4 mb-4 border-0 shadow-sm">
                    <div class="card-body" style="max-width: 500px;">
                        <h1 class="fw-bolder text-darker-gray">{{selectedContact.firstName + " " + selectedContact.lastName}}</h1>
                        <div class="row">
                            <div class="col-6 mb-2">
                                <div class="ms-2 me-auto text-gray">
                                    Cellphone
                                    <div class="fw-bold text-darker-gray">{{selectedContact.cellNumber}}</div>
                                </div>
                            </div>
                            <div class="col-6 mb-2 ">
                                <div class="ms-2 me-auto text-gray">
                                    Address
                                    <div class="fw-bold text-darker-gray">{{selectedContact.address}}</div>
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <div class="ms-2 me-auto text-gray">
                                    Email
                                    <div class="fw-bold text-darker-gray">{{selectedContact.email}}</div>
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <div class="ms-2 me-auto text-gray">
                                    Agify
                                    <div class="fw-bold text-darker-gray">{{selectedContactAge}}</div>
                                </div>
                            </div>
                        </div>                
                    </div>
                </div>
                <div class="contact-bio">
                    <h2 class="fw-bolder mb-2 text-darker-gray">Bio</h2>
                    {{selectedContact.bio}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addContactModal" data-backdrop="false" tabindex="-1" >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create new contact</h5>
              <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6 mb-1">
                    <label for="validationCustom01" class="form-label">First name</label>
                    <input type="text" [(ngModel)]="firstName.Value" class="form-control" id="validationCustom01" value="Mark" required>
                    <div class="fs-7 {{firstName.ClassValue}} p-1">
                      {{firstName.ResponseMessage}}
                    </div>
                  </div>
                  <div class="col-md-6 mb-1">
                    <label for="validationCustom02" class="form-label">Last name</label>
                    <input type="text" [(ngModel)]="lastName.Value" class="form-control" id="validationCustom02" value="Otto" required>
                    <div class="fs-7 {{lastName.ClassValue}} p-1">
                        {{lastName.ResponseMessage}}
                    </div>
                  </div>
                  <div class="col-md-6 mb-1">
                    <label for="validationCustom03" class="form-label">Address</label>
                    <input type="address" [(ngModel)]="address.Value" class="form-control" id="email" required>
                    <div class="fs-7 {{address.ClassValue}} p-1">
                      {{address.ResponseMessage}}
                    </div>
                  </div>
                  <div class="col-md-6 mb-1">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" [(ngModel)]="phone.Value" id="phone" required>
                    <div class="fs-7 {{phone.ClassValue}} p-1">
                      {{phone.ResponseMessage}}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="phone" class="form-label">Bio</label>
                    <textarea class="form-control" [(ngModel)]="bio.Value" name="bio" id="bio" cols="5" rows="5" maxlength="225"></textarea>
                    <div class="fs-7 text-darker-gray {{bio.ClassValue}} p-1">
                      {{bio.ResponseMessage}}
                    </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" (click)="addNewContact()" data-bs-dismiss="modal" class="btn btn-primary">Create</button>
            </div>
          </div>
        </div>
    </div>
</div>